<div class="page-header">
  <h3>Steel Horses <small>Yet another virtual old school stickers album.</small></h3>
  <div class="user-info">
    <% if(typeof(user.username) != 'undefined') { %>
      <span>Time until your next sticker <span id="counter">10</span> minutes</span> | 
      <span class="progress"></span>
      <%= user.username %>
      <!-- <a class="btn btn-primary btn-xs" href="/">My Album</a> -->
      <a class="btn btn-danger btn-xs" href="/sessions">Sign Out</a>
    <% } else { %>
      <a class="btn btn-primary btn-xs" href="/sessions">Sign in</a>
    <% } %>
  </div>
</div>
