body {
  background-color: #E4E4E4;
  margin: 0;
  padding: 0;
  color: #1B1B1B;
}

html {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #1B1B1B;
  font-family: 'Sintony', sans-serif !important;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-bottom: 0;
  display: inline-block;
  width: 100%;
}

.page-header h3 {
  color: #F1684E;
  font-size: 18px;
  float: left;
  margin-top: 17px;
}

.page-header h3 small{
  color: #FFF;
}

.page-header .user-info {
  float: right;
  padding-top: 20px;
  padding-right: 10px;
  color: #FFF;
}

.page-header span {
  background-color: transparent;
  background-image: none;
  font-size: 12px;
}

#current-album {
}

#current-album .overlay-left-page {
  background:url(/images/overlay-left-page.png) 0 0 no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
}

#current-album .overlay-right-page {
  background:url(/images/overlay-right-page.png) 0 0 no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
}

#current-album .sticker-placeholder {
  background-color: #FFF; 
  position: absolute;
  opacity: 0.4;
}

#current-album .sticker-placeholder h3 {
  margin: 10px;
  color: #000;
  
}

#current-album .b-counter {
  background-color: transparent;
  font-family: 'Sintony', sans-serif !important;
  font-size: 14px;
  color: #000;
}

#current-album .page {
  border: 1px solid #c1c1c1;
}

#current-album .sticker {
  border: 3px inset #FFF;
}

#my-stickers {
  width: 300px;
  height: 600px;
  background-color: #1B1B1B;
  margin-right: 10px;
  font-family: 'Sintony', sans-serif !important;
  font-size: 16px;
  overflow-y: scroll;
}

#my-stickers h4 small{
  color: #F1684E;
  padding: 15px;
}

#my-stickers .stickers-list-item {
  background-color: #c1c1c1;
  margin-bottom:1px;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
}
#my-stickers .stickers-list-item small{
  font-size: 10px;
}

#my-stickers .stickers-list-item .sticker-thumb img{
  width: 100px;
}

#my-stickers .stickers-list-item .sticker-thumb{
  width:80px;
  height:50px;
  float: left;
  overflow:hidden;
  margin-right: 5px;
}

#stickers-list {
  padding-left: 15px;
}

