body {
  background-color: #E4E4E4;
  margin: 0;
  padding: 0;
  color: #1B1B1B;
}

html {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #1B1B1B;
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  width: 100%;
}

.page-header h3 {
  font-family: 'Sintony', sans-serif !important;
  color: #F1684E;
}

.page-header h3 small{
  color: #FFF;
}
