body {
  background-color: #E4E4E4;
  margin: 0;
  padding: 0;
  color: #1B1B1B;
}

html {
  margin: 0;
  padding: 0;
}
form {
  padding: 10px;
  padding-left: 20px;
}

iframe {
  float: right;
}

.page-header {
  background-color: #1B1B1B;
  font-family: 'Sintony', sans-serif !important;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-bottom: 0;
  display: inline-block;
  width: 100%;
}

.page-header h3 {
  color: #F1684E;
  font-size: 18px;
  float: left;
  margin-top: 17px;
}

.page-header h3 small{
  color: #FFF;
}

.page-header .user-info {
  float: right;
  padding-top: 20px;
  padding-right: 10px;
  color: #FFF;
}

.page-header span {
  background-color: transparent;
  background-image: none;
  font-size: 12px;
}

#current-album {
}

#current-album .overlay-left-page {
  background:url(/images/overlay-left-page.png) 0 0 no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
}

#current-album .overlay-right-page {
  background:url(/images/overlay-right-page.png) 0 0 no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
}

#current-album .sticker-placeholder {
  background-color: #FFF;
  position: absolute;
  opacity: 0.4;
}

#current-album .sticker-placeholder h3 {
  margin: 10px;
  color: #000;

}

#current-album .b-counter {
  background-color: transparent;
  font-family: 'Sintony', sans-serif !important;
  font-size: 14px;
  color: #000;
}

#current-album .page {
  border: 1px solid #c1c1c1;
}

#current-album .sticker {
  border: 3px inset #FFF;
}

#mainTabs {
  font-family: 'Sintony', sans-serif !important;
  font-size: 16px;
}

#my {
  margin-right: 10px;
  background-color: #FFF;
  font-family: 'Sintony', sans-serif !important;
  font-size: 16px;
  overflow-y: scroll;
}

#my-stickers h4 small{
  color: #F1684E;
  padding: 15px;
}
#my-stickers #stickers-list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#people {
  background-color: #FFF;
  overflow-y: scroll;
}

#people ul {
  font-family: 'Sintony', sans-serif !important;
  color: #F1684E;
  padding-right: 10px;
  background-color: #FFF;
  padding: 5px;
  white-space:nowrap;
  height: 60px;
}

#people ul li {
  color: #FFF;
  background-color: #1B1B1B;
  margin-right:1px;
  padding: 5px;
  display: inline-block;
  list-style-type: none;
  width: 222px;
}

.album-owner {
  font-family: 'Sintony', sans-serif !important;
}

#my ul li {
  color: #F1684E;
  background-color: #1B1B1B;
  margin-right:-4px;
  padding: 5px;
  display: inline-block;
  list-style-type: none;
  width: 222px;
}

#my ul li small{
  font-size: 10px;
  color: #FFF;
}

#my ul li .sticker-thumb img{
  width: 100px;
}

#my ul li .sticker-thumb{
  width:80px;
  height:50px;
  float: left;
  overflow:hidden;
  margin-right: 5px;
}

#my ul {
  padding: 5px;
  white-space:nowrap;
  height: 60px;

}

.ajax-my-album {
  margin-top:5px;
  margin-bottom: 5px;
}
