<div class="sessions">
<div class="col-md-2">
<form class="form-horizontal" method="post" accept-charset="utf-8" action="/sessions">
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="text" id="username" name="username" placeholder="Username">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="Password">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
</div>
<div class="col-md-6 info">
  <span>Start to collect your stickers.</span><br/>
  Don't worry about an account, you just need to login.<br/><br/>
  
  <strong>Featuring:</strong><br/>
  <img src="/images/pages/default/sessions-cover.jpeg" />

</div>


</div>
